*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    padding: 10px;
    background-color: #f1f1f1;
}

.header{
    padding: 30px;
    text-align: center;
    border: solid green;
    background-color: white;
}

.header h1{
    font-size: 50px;
}

.topnavbar{
    overflow: hidden;
    background-color: lightgreen;
}

.topnavbar a{
    float: left;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 15px 15px;
}

.topnavbar a:hover{
    background-color: white;
    color: red;
}

.leftcolumn{
    width: 75%;
    float: left;
}

.rightcolumn{
    width: 25%;
    background-color: beige;
    float: left;
    padding-left: 20px;
}

.card{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.fakeimg{
    background-color: #aaa;
    padding: 10px;
    width: 100%;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
}

@media screen and(max-width:800px) {
    .leftcolumn .rightcolumn{
        width: 100%;
        padding: 0;
    }
}

@media screen and(max-width:400px) {
    .topnavbar{
        float: none;
        width: 100%;
    }
}